ORACLE_HOST=192.168.29.248
ORACLE_PORT=1521
ORACLE_SERVICE=ORCLPDB1
ORACLE_SYS_CONTAINER=ORCLPDB1
ORA_USER=
ORA_PASSWORD=
ORA_SCHEMA=
ORA2PG_DB_USER=
ORA2PG_DB_PASSWORD=

# --- Target: PostgreSQL (native apt) ---
PG_HOST=127.0.0.1
PG_PORT=5432
PG_DB=sample_pg
PG_APP_USER=ora2pg_app
PG_APP_PASSWORD=

# --- Target: IvorySQL (docker) ---
IVY_HOST=127.0.0.1
IVY_PORT=5433
IVY_DB=sample_ivory
IVY_SUPERUSER=ivorysql
IVY_PASSWORD=
IVY_IMAGE=ivorysql/ivorysql:3.4-ubi8
IVY_CONTAINER=ora2pg-ivory
